.how-it-works {
  background-color: var(--dark-blue-main);
  padding: 70px 0px;
  margin: 0px auto;
  .container {
    * {
      color: white;
    }
    .learning-step {
      text-align: center;
      max-width: 300px;
      justify-content: space-evenly;
      height:300px;
      align-items: center;
    }
    .flex2 {
      justify-content: space-around;
    }
  }
}
