* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* colors */
:root {
  --dark-blue-main: #1a2039;
  --gray-blue: #333e6a;
  --sky-blue: #cce1ff;
  --sky: #e9f3ff;
  --grey-bg: #f7f7f7;
  --off-white: #f7f7f7;
  --sky-blue-gradient: linear-gradient(160deg, #003296, #cce1ff);
}
/* fonts and spacing */
html {
  font-size: 20px;
}
.heading-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h2 {
  font-size: 50px;
}
.xl-space {
  margin-bottom: 2.617924rem;
}
.l-space {
  margin-bottom: 1.618rem;
}
.m-space {
  margin-bottom: 1rem;
}
.s-space {
  margin-bottom: 0.61804697157rem;
}
.xs-space {
  margin-bottom: 0.3819820590666498rem;
}
/* leyout */
.container {
  max-width: 1920px;
  width: 100%;
  padding: 0px 30px;
  margin: auto;
}
.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* elements */
.main-btn {
  padding: 22px 48px;
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: var(--dark-blue-main);
  display: grid;
  place-items: center;
  border-radius: 400px;
  border: none;
}

section {
  margin: 70px auto;
}
